@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Russo+One);

body, p, a{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    color: #4d4d4d;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Russo One', sans-serif;
    color: #ad5757;
}

h1{

}

a{
    color: #ad5757;
}

strong, b{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
}

.read-more{
  text-align: right;
}